---
sudo: false
language: ruby
bundler_args: --without system_tests
before_install: rm Gemfile.lock || true 
script:
  - 'bundle exec rake --no-deprecation-warnings'
  - 'puppet parser validate .'
matrix:
  fast_finish: true
  include:
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.0" STRICT_VARIABLES="yes"
  - rvm: 2.1.6
    env: PUPPET_GEM_VERSION="~> 3.0" STRICT_VARIABLES="yes"
  - rvm: 2.1.6
    env: PUPPET_GEM_VERSION="~> 4.0" STRICT_VARIABLES="yes"
